a {
    color: #0d53b4;
}

a:hover {
    color: #0d53b4;
}

a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
    color: #0d53b4;
}

.btn-common {
    border-color: #0d53b4;
    background-color: #0d53b4;
}

.btn-common:hover {
    border-color: #0d53b4;
    color: #0d53b4;
}

.btn-border:hover {
    background-color: #0d53b4;
}

.controls .active {
    color: #0d53b4 !important;
    border-color: #0d53b4;
}

#carousel-area .carousel-control-next i:hover,
#carousel-area .carousel-control-prev i:hover {
    border: 2px solid #0d53b4;
    background: #0d53b4;
}

#subscribe .sub_btn:hover {
    background: #2855d1;
}

.section-header .section-title span {
    color: #0d53b4;
}

.section-header .lines {
    border-color: #0d53b4;
}

.section-header .lines:before {
    background: #0d53b4;
}

.overlay {
    background: #0d53b4;
}

#hero-area .overlay {
    background: #0d53b4;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.active::before,
.navbar-light .navbar-nav .nav-link.open,
.navbar-light .navbar-nav .open>.nav-link {
    color: #0d53b4;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:hover:before {
    color: #0d53b4;
}

.navbar-light .navbar-nav .nav-link:before {
    background: #0d53b4;
}

.menu-wrap .navbar-nav li .active,
.menu-wrap .navbar-nav li .active::before {
    color: #0d53b4;
}

.menu-wrap a:hover,
.menu-wrap a:focus {
    color: #0d53b4;
}

.icon-list a::before {
    background: #0d53b4;
}

#about .about-boxes .icon {
    border-color: #0d53b4;
}

#about .about-boxes .icon i {
    color: #0d53b4;
}

.item-boxes .icon {
    border-color: #0d53b4;
}

.item-boxes .icon i {
    color: #0d53b4;
}

#features .box-item .icon {
    border-color: #0d53b4;
}

#features .box-item .icon i {
    color: #0d53b4;
}

#features .box-item:hover .icon {
    background: #0d53b4;
}

.video-promo .video-promo-content .video-popup:hover {
    background: #0d53b4;
    border-color: #0d53b4;
}

.shot-item .overlay:before,
.shot-item .overlay:after {
    background: #0d53b4;
}

.controls .mixitup-control-active {
    color: #0d53b4 !important;
    border-color: #0d53b4;
}

.owl-theme .owl-controls .owl-page span {
    background: #0d53b4;
}

.pricing-table .icon {
    color: #0d53b4;
    border-color: #0d53b4;
}

.pricing-table .pricing-details span {
    color: #0d53b4;
}

#blog .blog-item-img:before {
    background: rgba(70, 118, 250, 0.7);
}

.form-control:focus {
    box-shadow: 0 0 2px #0d53b4;
}

#subscribe .sub_btn {
    background: #0d53b4;
}

#contact:before {
    background: #0d53b4;
}

.back-to-top i {
    background-color: #0d53b4;
}

.single-team .social-list li a {
    color: #0d53b4;
}

.toggle-map {
    background-color: #0d53b4;
}

.toggle-map .map-icon {
    border-color: #0d53b4;
}

#google-map {
    border-color: #0d53b4;
}